/* Post.css */
.card {
    width: 80%;
    margin-top: 50px;
  }
  
  .card-title,
  .card-text {
    cursor: pointer;
  }
  
  .btn-danger {
    color: rgb(82, 18, 18);
    width: 100px;
  }
  .btn-primary {
    width: 90px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add {
    margin-top: 50px;
    width: 100%;
  }
  
  @media screen and (max-width: 720px) {
    .card {
      width: 90%; 
      margin-top: 30px; 
    }
  
    .btn-danger,
    .btn-primary {
      width: 80px; 
      font-size: 0.8rem; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 95%; 
      margin-top: 20px; 
    }
  
    .btn-danger,
    .btn-primary {
      width: 70px;
      font-size: 0.7rem; 
    }
  }
  
